<div class='container'>
  <div class='row'>
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h2>送信が完了しました</h2>
       <div class="content">
         <p>内容は以下の通りです</p>
           <div class="content">
             <p>[タイトル]</p>
             <%= @group_owner.title %>
           </div>
           <div class="content">
             <p>[本文]</p>
             <%= @group_owner.body %>
           </div>
       </div>
    </div>
  </div>
</div>